body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  }
  .title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3em;
  }
  .container{
  
    display: flex;
    justify-content: space-between;
    gap:2em;
    align-items: center;
  }

  img {
    width: 100px;
    height: 100px;
  }
